@charset "UTF-8";
/*  Pablo Ceballos
    Ángel Manuel Fernández
    Juan José Carrasco
    Rubén Torres
*/

/***** FORM *****/

/*** COL ***/

/* 25 */
.col-25 {
    float: left;
    width: 25%;
    margin: 10px 0;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}


/* 75 */
.col-75 {
    float: left;
    width: 75%;
    margin: 10px 0;
}

input[type=text], input[type=number]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

/*** ROW ***/
input[type=submit] {
    background-color: #4d5fff;
    color: white;
    padding: 12px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #3f50f1;
  }
  
  /***** RESPONSIVE *****/
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit]{
      width: 100%;
      margin-top: 0;
    }

    input[type=submit]{
        margin: 30px 0 0;
    }

    form{
        width: 90%;
    }
  }